* {
    font-family: "Poppins", serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    margin: 40px 0px 90px 76px;


}

.logo-main {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
    
}

section {
    display: inline-block;
    margin-left: 86px;
    margin-bottom: 20px;


}

.link-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
    color: rgba(23, 35, 61, 1);
    margin-left: 38px;

}



button {
    width: 124px;
    height: 51px;
    border: none;
    border-radius: 9px;
    background: rgba(111, 191, 68, 1);
    margin-left: 39px;
    color: white;
    cursor: pointer;
    font-size: 15px;

}

.button-up:hover {
    opacity: .8;
}


h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: rgba(22, 26, 73, 1);

}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    color: rgba(75, 80, 90, 1);
    width: 515px;
    margin-top: 32px;
    margin-bottom: 120px;
    width: 493px;
    height: 40px;



}

a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(111, 191, 68, 1);
    cursor: pointer;
    margin-bottom: 40px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;

   
    
}

a:hover {
    transform: scale(1.1);
    color: rgb(6, 7, 29);
}

div {
    width: 582px;
    height: 164px;
}

main {
    margin-left: 40px;
    display: flex;
    order: -1;
}









@media screen and (max-width: 900px) {

    * {
        font-family: "Poppins", serif;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        
    }


    main {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 40px;


    }


    section {
        order: -1;
        text-align: center;
        margin-right: 0px;
        margin-left: 45px;
        margin-bottom: 0px;


    

    }

    




    .logo-main {
        width: 312px;
        height: 288px;
        margin-left: 40px;
        position: relative;
        top: 10px;


    }

    h1 {
        width: 298px;
        height: 80px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        color: rgba(22, 26, 73, 1);
        margin-left: 5px;
        margin-bottom: 35px;


    }

    .link-header {
        display: none;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        color: rgba(75, 80, 90, 1);
        width: 324px;
        height: 185px;
        margin-top: 20px;
        margin-bottom: 35px;
        padding: 0px 0px 0px 0px;
    }

    div {
        width: 400px;
        height: 70px;
    }


    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: rgba(111, 191, 68, 1);
        cursor: pointer;
        margin-right: 25px;

    }


    header {
        margin: 0;

    }

    .button-up {
        width: 91px;
        height: 31px;
        margin-left: 285px;
        margin-top: 10px;
        font-size: 12px;
        text-shadow:  2px 2px 2px rgb(124, 125, 136);
    }

    











}